[submodule "analyzer"]
	path = analyzer
	url = git@github.com:Karesis/nyanc_analyzer.git
[submodule "hir"]
	path = hir
	url = git@github.com:Karesis/nyanc_hir.git
[submodule "core"]
	path = core
	url = git@github.com:Karesis/nyanc_core.git
[submodule "lexer"]
	path = lexer
	url = git@github.com:Karesis/nyanc_lexer.git
